* {
    font-family: Helvetica !important;
    font-size: 12px !important;
}

.tab-content > image {
        display: none !important;
}

.bookmark-item image {
        display: none !important;
}

* {
	font-family: Helvetica !important;
	font-size: 12px !important;
}
